/*╔═══════════════╗
      VARIABILI
  ╚═══════════════╝*/

 :root{
    /*- COLORI PRIMARIO -*/
    --clr-primary-0: black;

    /*- COLORI SECONDARIO -*/
    --clr-secondary-0: white;



    /*-COLORI BG -*/
    --clr-bg-0: rgb(19, 122, 5);
    --clr-bg-1: rgba(255, 255, 255, 0.3);

    /*- DIMENSIONI GUTTER*/
    --gutter-xs: .25rem;
    --gutter-sm: .5rem;
    --gutter-md: 1rem;
    --gutter-lg: 1.5rem;
    --gutter-xl: 2rem;
    --gutter-xxl: 3rem;

    --border-radius: 1rem;

}
 
/*╔═══════════════╗
       COMMON
  ╚═══════════════╝*/

body{
    font-family: 'rotobo', sans-serif;
    color: var(--colore-testo);
    height: 100vh;
    width: 100%;
    background-color: var(--clr-bg-0) ;
    display: grid;
    place-items: center;
}


/*--- BUTTON ---*/

button{
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
}
button>span{
    font-size: 0.9rem;
}

.btn{
    margin: var(--gutter-sm);
    padding: var(--gutter-sm) var(--gutter-md);
    cursor: pointer;
    background-color: aqua;
}

.btn--active{
    color: aqua;
    background-color: black;
}

/*╔═══════════════╗
    TAG SEMANTICI
  ╚═══════════════╝*/

.window{
    padding: var(--gutter-xxl);
    border-radius: var(--border-radius);
}

.window-settings{
    text-align: center;
}
.window-settings__button{
    display: flex;
    flex-direction: column;
    gap:var(--gutter-sm);
    margin: var(--gutter-md);
}




.window-game{
    aspect-ratio: 1/1;
    height: 60vh;
}

.window-game--small{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 0.2rem;
}

.window-game--normal{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 0.2rem;
}

.window-game--big{
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    gap: 0.2rem;
}

.box{
    aspect-ratio: 1/1;
    display: grid;
    place-items: center;
    position: relative;
    z-index: 1;
    background-color: var(--clr-bg-1);
}

.box--overlay{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    background-color: black;
}



















.hide{
    display: none;
}
