/*╔═══════════════╗
      VARIABILI
  ╚═══════════════╝*/

 :root{
    /*- COLORI PRIMARIO -*/
    --clr-primary-0: black;

    /*- COLORI SECONDARIO -*/
    --clr-secondary-0: white;

    --clr-txt-0: #277DA1 ;
    --clr-txt-1: #577590 ;
    --clr-txt-2: #4D908E ;
    --clr-txt-3: #43AA8B ;
    --clr-txt-4: #90BE6D ;
    --clr-txt-5: #F9C74F ;
    --clr-txt-6: #F9844A ;
    --clr-txt-7: #F94144 ;



    /*-COLORI BG -*/
    --clr-bg-0: rgb(19, 122, 5);
    --clr-bg-1: rgb(77, 56, 29);

    /*- DIMENSIONI GUTTER*/
    --gutter-xs: .25rem;
    --gutter-sm: .5rem;
    --gutter-md: 1rem;
    --gutter-lg: 1.5rem;
    --gutter-xl: 2rem;
    --gutter-xxl: 3rem;

    --border-radius: 1rem;

}
 
/*╔═══════════════╗
       COMMON
  ╚═══════════════╝*/

body{
    font-family: 'rotobo', sans-serif;
    color: var(--colore-testo);
    height: 100vh;
    width: 100%;
    background-color: var(--clr-bg-0) ;
    display: grid;
    place-items: center;
    color: var(--clr-primary-0);
}


/*--- BUTTON ---*/

button{
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
}
button>span{
    font-size: 0.9rem;
}

.btn{
    margin: var(--gutter-sm);
    padding: var(--gutter-sm) var(--gutter-md);
    cursor: pointer;
    background-color: aqua;
}

.btn--active{
    color: aqua;
    background-color: black;
}


/*--- TYPO --*/

.text-clr-0{
    color: var(--clr-txt-0);
}
.text-clr-1{
    color: var(--clr-txt-1);
}
.text-clr-2{
    color: var(--clr-txt-2);
}
.text-clr-3{
    color: var(--clr-txt-3);
}
.text-clr-4{
    color: var(--clr-txt-4);
}
.text-clr-5{
    color: var(--clr-txt-5);
}
.text-clr-6{
    color: var(--clr-txt-6);
}
.text-clr-7{
    color: var(--clr-txt-7);
}





/*╔═══════════════╗
    TAG SEMANTICI
  ╚═══════════════╝*/

.window{
    padding: var(--gutter-xxl);
    border-radius: var(--border-radius);
}

.window-settings{
    text-align: center;
}
.window-settings__button{
    display: flex;
    flex-direction: column;
    gap:var(--gutter-sm);
    margin: var(--gutter-md);
}




.window-game{
    aspect-ratio: 1/1;
    height: 60vh;
    position: relative;
}

.window-game--small{
    font-size: 1.5em;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 0.2rem;
    border-radius: 1rem;
}

.window-game--normal{
    font-size: 1.2em;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 0.2rem;
    border-radius: 0.85rem;
}

.window-game--big{
    font-size: 1rem;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    gap: 0.2rem;
    border-radius: 10px;
}

.box{
    aspect-ratio: 1/1;
    display: grid;
    place-items: center;
    position: relative;
    background-color: var(--clr-bg-1);
    font-weight: 900;
}

.box--overlay{
    background-image: url(../img/grass.jpeg);
    background-repeat: no-repeat;
    background-size: 500%;
    background-position: center;

}

.box--absolute{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}



















.hide{
    display: none;
}
