/*╔═══════════════╗
      VARIABILI
  ╚═══════════════╝*/

 :root{
    /*- COLORI PRIMARIO -*/
    --clr-primary-0: black;

    /*- COLORI SECONDARIO -*/
    --clr-secondary-0: white;



    /*-COLORI BG -*/
    --clr-bg-0: rgb(19, 122, 5);
    --clr-bg-1: rgba(255, 255, 255, 0.3);

    /*- DIMENSIONI GUTTER*/
    --gutter-xs: .25rem;
    --gutter-sm: .5rem;
    --gutter-md: 1rem;
    --gutter-lg: 1.5rem;
    --gutter-xl: 2rem;
    --gutter-xxl: 3rem;

    --border-radius: 1rem;

}
 
/*╔═══════════════╗
       COMMON
  ╚═══════════════╝*/

body{
    font-family: 'rotobo', sans-serif;
    color: var(--colore-testo);
    height: 100vh;
    width: 100%;
    background-color: var(--clr-bg-0) ;
    display: grid;
    place-items: center;
}


/*--- BUTTON ---*/

button{
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
}
button>span{
    font-size: 0.9rem;
}

.hide{
    display: none;
}

/*╔═══════════════╗
    TAG SEMANTICI
  ╚═══════════════╝*/

.window{
    border: 1 solid black;
    padding: var(--gutter-xxl);
    background-color: var(--clr-bg-1);
    border-radius: var(--border-radius);
}

.window-settings{
    text-align: center;
}
.window-settings__button{
    display: flex;
    flex-direction: column;
    gap:var(--gutter-sm);
    margin: var(--gutter-md);
}

